<h2>Hello !</h2>

<h3>My artists:</h3>

<p>

  <% @organization.artists.each do |artist| %>
  	<li><%= link_to "#{artist.name}", artist_path(artist)  %></li>
  <% end %>
</p>

<h3>My artworks:</h3>

<p>
	<% @organization.artworks.each do |artwork| %>
		<li><%= link_to "#{artwork.title}", artwork_path(artwork.id) %>  </li>
	<% end %>

</p>

<h3>My customers:</h3>

<p>
	<% @organization.customers.each do |customer| %>
		<li><%= link_to "#{customer.name}", customer_path(@organization, customer.id) %>  </li>
	<% end %>

</p>

<p> <%= link_to "Create a new customer", new_customer_path(@organization) %> </p>
