<h2>Hello !</h2>

<h3>My artists:</h3>

<p>
<% if user_signed_in? %>
  <% @organization.artists.each do |artist| %>
  	<li><%= link_to "#{artist.name}", organization_artist_path(@organization, artist)  %></li>
  <% end %>
<% end %>
</p>