<!-- header-16 -->

<header class="header-16 no-shift">
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar">
          <span>MENU</span>
          <div>FERMER</div>
        </button>
        <div class="nav-collapse collapse" style="display: block;">
          <ul class="nav">
            <li><%= link_to "Accueil", pages_index_path, class: "active" %></li>
            <li><%= link_to "Benjamin Graindorge", pages_benjamin_graindorge_path %></li>
            <li><%= link_to "Raymond Depardon", pages_raymond_depardon_path %></li>
            <li><%= link_to "CONTACT", pages_contact_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header
>
<section class="header-16-sub" style="height: 798px;">
<div id="h-16-pt-main" class="page-transitions pt-perspective   pt-item-2">
<div class="v-center pt-page pt-page-1 bg-turquoise">
  <div>
    <div class="background">&nbsp;</div>
    <div class="container">
      <div class="hero-unit">
        <h1>Gallerie Gala</h1>
      </div>
    </div>
  </div>
  <span class="scroll-btn"><a href="#"> <span class="mouse"><span> </span></span> Glisser vers le bas pour en savoir plus</a></span>
  <span class="pt-controls">
    <div class="container">
      <a class="pt-control-prev">Benjamin Graindorge</a>
      <a class="pt-control-next" href="#">Raymond Depardon</a>
    </div> </span>
  </div>
  <div class="v-center pt-page pt-page-2 bg-peter-river pt-page-current">
    <div>
      <div class="background">&nbsp;</div>
      <div class="container">
        <div class="hero-unit">
          <h1>Raymond Depardon</h1>
        </div>
      </div>
    </div>
    <span class="scroll-btn"><a href="#">Glisser vers le bas pour en savoir plus</a></span>
    <span class="pt-controls">
      <div class="container">
        <a class="pt-control-prev" href="#">Gallerie Gala</a>
        <a class="pt-control-next" href="#">Benjamin Graindorge</a>
      </div> </span>
    </div>
    <div class="v-center pt-page pt-page-3 bg-emerland">
      <div>
        <div class="background">&nbsp;</div>
        <div class="container">
          <div class="hero-unit">
            <h1>Benjamin Graindorge</h1>
          </div>
        </div>
      </div>
      <span class="scroll-btn"><a href="#">Glisser vers le bas pour en savoir plus</a></span>
      <span class="pt-controls">
        <div class="container">
          <a class="pt-control-prev" href="#">Raymond Depardon</a>
          <a class="pt-control-next">Gallerie Gala</a>
        </div> </span>
      </div>
    </div>
  </section>      
  
  <!-- tpl-22 custom section   -->
<section class="content-15 v-center">
  <div>
    <div class="container">
      <div class="row">
        <h3 class="span10 offset1">Galerie Gala, spécialisée dans la photographie et le design. Venez nous rencontrer tous les jours entre 9h et 19h.
        </h3>
      </div>
      <div class="row">
        <div class="span6">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol
          </p>
        </div>
        <div class="span6">
          <p>
or in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."          </p>
        </div>
      </div>
    </div>
  </div>
</section>